**/.cache
**/.cache-main
**/.cache-tests
**/.classpath
**/.directory
**/.history
**/.metadata/
**/.project
**/.recommenders
**/.ruleset
**/.settings/
**/bin/
**/target/
**/.gradle/
**/build/
**/vendor/
**/composer.lock
**/composer.phar
**/reports/
**/__pycache__/
**/.cache/
Gemfile.lock
test_results.xml
